<component name="ArtifactManager">
  <artifact type="exploded-war" name="mybatisDemo">
    <output-path>$PROJECT_DIR$/out/artifacts/mybatisDemo</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="mybatisDemo/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="mybatisDemo" />
        </element>
      </element>
    </root>
  </artifact>
</component>