<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="conf/dbconfig.properties"/>

    <!--
        按顺序放入配置项
        1、properties
        2、settings
        3、typeAliases
        4、typeHandlers
        5、objectFactory
        6、plugins
        7、environments
            environment
                transactionManager
                dataSource
        8、mappers
    -->
    <settings>
        <setting name="logImpl" value="SLF4J" />
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--<package name="xyz.lfans.mapper" />-->
        <mapper class="xyz.lfans.mapper.DepartmentMapper"></mapper>
        <mapper class="xyz.lfans.mapper.EmployeeMapper"></mapper>
    </mappers>

</configuration>